.data-box {
	width: 100%;
	height: 100%;
	// display: flex;
	flex-direction: column;
	overflow: hidden;
	.data-box-header {
		display: flex;
		height: 30px;
		flex-shrink: 0;
		.dbh-l,
		.dbh-r {
			flex: 1;
		}
		.dbh-l {
		}
		.dbh-r {
			padding-right: 40px;
			display: flex;
			justify-content: flex-end;
		}
	}
	.data-box-body {
		display: flex;
		width: 100%;
		height: calc(100% - 70px);
		flex: 1;
	}
	.data-box-table {
		position: relative;
		display: flex;
		width: calc(100% - 40px);
		height: 100%;
		flex: 1;
		flex-shrink: 0;
		flex-direction: column;
		max-height: 100%;
	}
	.data-box-scroll-v {
		width: 40px;
		height: 100%;
		padding-left: 10px;
		flex-shrink: 0;
		// background-color: #fff;
	}
	.data-box-scroll-b {
		width: calc(100% - 40px);
		height: 40px;
		padding-top: 10px;
		flex-shrink: 0;
		// background-color: #fff;
	}
	.db-header {
		overflow: hidden;
		flex-shrink: 0;
	}
	.db-body {
		overflow: auto scroll;
		flex: 1;
		/*flex-shrink: 0;*/
	}
	.db-td-fixed {
		position: sticky;
	}
	.db-line-t,
	.db-line-r,
	.db-line-b,
	.db-line-l {
		position: absolute;
		background-color: #000;
	}
	.db-line-t,
	.db-line-b {
		width: 100%;
		height: 1px;
	}
	.db-line-r,
	.db-line-l {
		top: 0;
		width: 1px;
		height: 100%;
	}
	.db-line-t {
		top: 0;
	}
	.db-line-r {
		right: 0;
	}
	.db-line-b {
		bottom: 0;
	}
	.db-line-l {
		left: 0;
	}
	table {
		table-layout: fixed;
		width: 100%;
		text-align: left;
		border-radius: 2px 2px 0 0;
		border-collapse: separate;
		border-spacing: 0;
		th, td {
			height: 24px;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
			text-align: center;
		}
		th {
			background-color: #fff;
			font-weight: normal;
		}
		td {
			background-color: #d9ecf1;
		}
	}
	.btn-export {
		display: flex;
		width: 60px;
		height: 20px;
		justify-content: center;
		align-items: center;
		background-color: #cfe1f1;
		border: 1px solid #fff;
		border-radius: 2px;
		cursor: pointer;
	}
}