.trend-box {
	display: flex;
	width: 68vw;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
	border: 1px solid #fff;
	.td-title {
		padding: 10px;
	}
	.tb-content {
		padding: 20px;
		height: 100%;
		overflow: hidden;
	}
}