.chart-wave {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
	.cw-title {
		display: flex;
		flex-shrink: 0;
		height: 2.5vw;
		padding-left: 20px;
		align-items: flex-end;
	}
	.echarts-for-react {
		flex: 1;
	}
}