.chart-wave {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
	.cw-title {
		display: flex;
		flex-shrink: 0;
		height: 2.5vw;
		padding-left: 20px;
		align-items: flex-end;
	}
	.cw-chart {
		position: relative;
		flex: 1;
	}
	.cw-tick {
		position: absolute;
		top: 16px;
		bottom: 24px;
		display: flex;
		width: 56px;
		font-size: 12px;
		&-line {
			position: absolute;
			top: 0;
			right: 0;
			width: 5px;
			height: 1px;
			background-color: #000;
			transform: translateY(-100%);
		}
		>.cw-tick-num {
			position: absolute;
			display: flex;
			width: 100%;
			font-size: 12px;
			span {
				position: absolute;
				right: 7px;
				transform: translateY(-50%);
			}
		}
	}
}