.drop-item {
	position: relative;
	width: 23%;
	height: 135px;
	.di-remove {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 120px;
		border-radius: 8px;
		font-size: 48px;
		color: #fff;
		background-color: rgba(0, 0, 0, .4);
		
	}
	&:hover {
		.di-remove {
			display: flex;
		}
	}
}