.charts-draw {
	position: relative;
	flex: 1;
	height: 100%;
	overflow: hidden;
	.cd-title {
		position: absolute;
		top: 6px;
		left: 28px;
		z-index: 1;
		display: flex;
		padding-left: 10px;
		// h4 {
		// 	color: #020c7e;
		// 	padding: 0 6px;
		// }
		// span {
		// 	color: #999;
		// }
	}
}