.chart-wave {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	overflow: hidden;
	.cw-title {
		position: absolute;
		top:  20px;
		left: 72px;
		z-index: 1;
		width: 100%;
		height: 64px;
		pointer-events: none;
	}
}