@import 'var.less';

[class*="icons-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	width:  64 / @vw;
	height: 64 / @vw;
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.icons-home {
	background-image: url('icon/home.png');
}
.icons-output {
	background-image: url('icon/output.png');
}
.icons-search {
	background-image: url('icon/search.png');
}
.icons-trend-edit {
	background-image: url('icon/trend_edit.png');
}
.icons-trend {
	background-image: url('icon/trend.png');
	&.s-selected {
		background-image: url('icon/trend_selected.png');
	}
}
.icons-camera {
	background-image: url('icon/camera.png');
}