.wave-trend {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	.wt-float {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 32px;
	}
	.wt-content {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		flex: 1;
		.wt-tick {
			position: relative;
			top: -1px;
			width: calc(100% - 140px);
			height: 20px;
			flex-shrink: 0;
		}
	}
	.wt-bottom {
		height: 40px;
		padding-top: 10px;
		padding-right: 140px;
		flex-shrink: 0;
	}
}